<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurkHavaYollarıKayıtSistemi.Properties.Settings.THYConnectionString"
            connectionString="Data Source=LAPTOP-SCMK2VA2\MSSQLSERVER01;Initial Catalog=THY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>